<a href="javascript:void(0);">
  <div class="member-view-box">
    <div class="member-image">
      <img src="/assets/img/user1.svg" class="user-img" alt="Member" />
      <div class="member-details">
        <h2 class="user-info">{{ userInfo.fullName }} <span>Designer</span></h2>
        <div class="info">
          <p>
            <span class="title">Join Date:</span> {{ userInfo.joinDate }} <br />
            <span class="title">ID:</span> {{ userInfo.key }} <br />
            <span class="title">Parent:</span> {{ userInfo.parent }}<br />
            <span class="title">Country:</span> {{ userInfo.userCountry }}
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
