/* You can add global styles to this file, and also import other style files */
.genealogy-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.genealogy-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}
.genealogy-scroll::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
  transition: 0.5s;
}
.genealogy-scroll::-webkit-scrollbar-thumb:hover {
  background: #767676;
  transition: 0.5s;
}

.genealogy-body {
  white-space: nowrap;
  overflow: auto;
  padding: 0;
  height: calc(100vh - 30px);
  padding-top: 10px;
  text-align: center;
}
.genealogy-tree {
  display: inline-block;
}
.genealogy-tree ul {
  padding-top: 30px;
  position: relative;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}
.genealogy-tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 30px 5px 0 5px;
}
.genealogy-tree li::before,
.genealogy-tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 3px dashed #c5c5c5;
  width: 50%;
  height: 28px;
}
.genealogy-tree li::after {
  right: auto;
  left: 50%;
  border-left: 3px dashed #c5c5c5;
}
.genealogy-tree li:only-child::after,
.genealogy-tree li:only-child::before {
  display: none;
}
.genealogy-tree li:only-child {
  padding-top: 0;
}
.genealogy-tree li:first-child::before,
.genealogy-tree li:last-child::after {
  border: 0 none;
}
.genealogy-tree li:last-child::before {
  border-right: 3px dashed #c5c5c5;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.genealogy-tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.genealogy-tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 3px dashed #c5c5c5;
  width: 0;
  height: 30px;
}
.genealogy-tree li a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  min-width: 480px;
}

.genealogy-tree li a:hover + ul li::after,
.genealogy-tree li a:hover + ul li::before,
.genealogy-tree li a:hover + ul::before,
.genealogy-tree li a:hover + ul ul::before {
  border-color: #fbba00 !important;
}

.genealogy-tree .app-users-info:hover + .app-users-hierarchy ul li::after,
.genealogy-tree .app-users-info:hover + .app-users-hierarchy ul li::before,
.genealogy-tree .app-users-info:hover + .app-users-hierarchy ul::before,
.genealogy-tree .app-users-info:hover + .app-users-hierarchy ul ul::before {
  border-color: #fbba00 !important;
}

/*--------------memeber-card-design----------*/
.member-view-box {
  padding: 0px 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
.member-image {
  width: 120px;
  position: relative;
  margin: 0 auto;
}
.member-image .user-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  z-index: 1;
}
.member-details {
  min-width: 150px;
  position: relative;
  text-align: left;
  padding: 5px;
  padding-left: 170px;
  background-color: #d1d3d4;
  background-image: radial-gradient(#fff, #d1d3d4);
  box-shadow: 10px 10px 9px #bebebe;
  margin-top: 20px;
  left: -130px;
}
.member-details p {
  white-space: normal;
}
.member-details p .title {
  font-weight: 600;
}
.member-details::after {
  content: "";
  display: block;
  background: url("/assets/img/user1-shape.svg") left top no-repeat;
  width: 210px;
  height: 90px;
  position: absolute;
  top: -15px;
  left: -30px;
}
.second-level .member-details::after {
  background: url("/assets/img/user2-shape.svg") left top no-repeat;
}
.third-level .member-details::after {
  background: url("/assets/img/user3-shape.svg") left top no-repeat;
}
.user-info span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
}
.user-info {
  position: absolute;
  left: 0;
  z-index: 1;
  display: block;
  color: #fff;
  top: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  width: 150px;
  white-space: normal;
  line-height: 1;
}
